<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% block style %}
.header {
background-color: #f8f9fa;
padding: 20px;
border-bottom: 1px solid black;
}
.registration {
background-color: #fff;
padding: 20px;
}
.user-info {
padding: 20px;
}
.footer {
background-color: #fff;
padding: 20px;
text-align: center;
}
.name {
padding: 30px 20px;
background-color: #f8f9fa;
border-bottom: 1px solid black;

}
.ask {
padding: 30px;
background-color: #f8f9fa;
border-bottom: 1px solid black;

}
.avatar {
padding: 20px;
background-color: #f8f9fa;
border-bottom: 1px solid black;

}
.nickname {
padding: 25px 20px 0 0;
background-color: #f8f9fa;
font-weight: bolder;
text-align: left;
}
.refs {
background-color: #f8f9fa;
}
.base-info{
background-color: #f8f9fa;
border-bottom: 1px solid black;
}
.highlight-red{
color: red;
}
.highlight-orange{
color: orange;
}
.highlight-green{
color: green;
}
.underlined{
color: blue;
border-bottom: 1px blue;
text-decoration: underline;
}
.fixed-input{
height: 250px !important;
resize: vertical;
overflow-y: auto;

}
{% endblock %}
{% block profile %}
<div class="col-md-1 avatar">
    <img src="images/2.jpg" alt="Аватар" width="50">
</div>
<div class="col-md-2 base-info">
    <div class="nickname">
        Tocsaine
    </div>
    <div class="refs">
        <a href="{% url 'settings' %}">settings</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">log out</a>
    </div>
</div>
{% endblock %}
{% block main %}
<div class="row">
    <div class="col-md-12 registration">
        <h2>New Question</h2>
        <form>
            <div class="form-group">
                Title
                <input type="text" class="form-control" id="title">
            </div>
            <div class="form-group">
                Text
                <textarea class="form-control fixed-input" placeholder="Type here..."></textarea>
            </div>
            <div class="form-group">
                <label for="Tags">Tags</label>
                <input type="text" class="form-control" id="Tags">
            </div>
            <button type="submit" class="btn btn-primary">Ask!</button>
        </form>
    </div>
</div>
{% endblock %}

<title>AskMe</title>

</html>
