<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block style %}
.header {
background-color: #f8f9fa;
padding: 20px;
border-bottom: 1px solid black;
}
.registration {
background-color: #fff;
padding: 20px;
}
.user-info {
padding: 20px;
}
.footer {
background-color: #fff;
padding: 20px;
text-align: center;
}
.name {
padding: 30px 20px;
background-color: #f8f9fa;
border-bottom: 1px solid black;

}
.ask {
padding: 30px;
background-color: #f8f9fa;
border-bottom: 1px solid black;

}
.avatar {
padding: 20px;
background-color: #f8f9fa;
border-bottom: 1px solid black;

}
.nickname {
padding: 25px 20px 0 0;
background-color: #f8f9fa;
font-weight: bolder;
text-align: left;
}
.refs {
padding-top: 40px;
background-color: #f8f9fa;
}
.base-info{
background-color: #f8f9fa;
border-bottom: 1px solid black;
}
.highlight-red{
color: red;
}
.highlight-orange{
color: orange;
}
.highlight-green{
color: green;
}
.underlined{
color: blue;
border-bottom: 1px blue;
text-decoration: underline;
}
.warning{
color: red;
}
.submit {
margin-top: 20px;
}
{% endblock %}
{% block profile %}
<div class="col-md-1 avatar">
</div>
<div class="col-md-2 base-info">
    <div class="refs">
        <a href="{% url 'signup' %}">register</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'login' %}">log in</a>
    </div>
</div>
{% endblock %}
{% block main %}
<div class="row">
    <div class="col-md-6 registration">
        <h2>Log In</h2>
        <div class="warning">
            <p>Sorry, this email address already exists!</p>
        </div>
        <form>
            <div class="form-group">
                <label for="email">Login:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="email">Nickname:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="password">Repeat Password:</label>
                <input type="password" class="form-control" id="password">
            </div>

            <form action="/upload-avatar" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <p>Upload avatar</p>
                    </div>
                    <div class="col-md-8">
                        <input type="file" name="avatar" accept="image/*">
                    </div>
                </div>
            </form>
            <div class="submit">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
<title>AskMe</title>

</html>
